*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --background-body: #fefefe;
    --principal: #4662db;
    --background-btn: var(--principal);
    --text-color: #333333;
    --color-border-error: #bf3f3f;
}

.Hero {
    height: 100vh;
    background: linear-gradient(270deg, rgba(71, 106, 220, 0.6) 0%, rgba(176, 107, 179, 0.6) 100%),
        url(../img/background--hero.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.Hero--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    align-items: center;
}

.Hero__title {
    font-size: 4rem;
    width: 100%;
    text-align: center;
    color: #fff;
}

.Hero__img {
    width: 100%;
}

.Menu {
    position: absolute;
    top: 1rem;
    width: 100%;
}

.Menu--list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.Menu--link__link {
    font-size: 1.1rem;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: border .15s;
}

.Menu--link__link:hover {
    border-bottom: 1px solid currentColor;
}

.Info {
    padding: 2rem;
}

.Info__title,
.Works__title {
    text-align: center;
    font-size: 2rem;
}

.Info--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-items: center;
}

.Info__img {
    margin: 0 auto;
    width: 70%;
}

.Info__description {
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
}

.Slogan {
    background-color: var(--principal);
    color: #ffffff;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
    font-weight: 500;
}

.Works {
    padding: 3rem;
}

.Works__title {
    margin-bottom: 3rem;

}

.Works--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.Works--card {
    width: 100%;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.5);
    transition: transform .3s;
}

.Works--card:hover {
    transform: scale(1.1);
}

.Works--card__img {
    display: flex;
    width: 100%;
}

.Works--card__footer {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
}

.Works--footer__name {
    font-weight: 700;
}

.Works--footer__link {
    color: var(--principal);
    font-weight: 500;
    text-decoration: none;
}

.Footer {
    padding: 2rem;
    background-color: #4f4f4f;
    display: grid;
    gap: 1.5rem;
    color: #fff;
    text-align: center;
}

.Footer--info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 2rem 0;
}

.Footer--info-container {
    display: grid;
    gap: 1rem;
    font-size: 1.05rem;
}

.Footer__hr {
    background-color: #828282;
    height: .5rem;
    width: 100%;
}

.Footer--own-name {
    display: grid;
    align-items: center;
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
}


label,
input,
textarea {
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%;
    outline: none;
}

input,
textarea {
    border: 1px solid transparent;
    padding: 1rem .8rem;
    color: var(--color-text);
    background-color: rgba(255, 255, 255, 0.3);
    transition: border .3s;
}

input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

textarea {
    overflow: auto;
    box-shadow: none;
    resize: none;
}

label {
    color: #fff;
}

.Form span {
    margin-left: .3em;
    color: #000;
}

input.btn {
    width: 100%;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 5px;
    color: #fff;
    font-weight: 900;
    border: none;
    cursor: pointer;
    transition: background-color .6s, color .6s;
}

.btn {
    background-color: var(--background-btn);
}

input.btn {
    background-color: #ffffff;
    color: var(--principal);
}

.btn:hover {
    background-color: #ffffff;
    color: var(--principal);
}

input.btn:hover {
    color: var(--text-color);
}

.Form {
    background-color: var(--principal);
    padding: 2rem 0;
    margin: 0 auto;
    text-align: left;
}

.Form__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
}

.Form-content {
    width: 90%;
    margin: 0 auto;
}

.Form-content--name {
    margin-bottom: 1rem;
}

.Form-content--email {
    margin-bottom: 1rem;
}

.Form-content--message {
    margin-bottom: 2rem;
}

.Form__textarea {
    position: relative;
    margin-bottom: 1rem;
}

.Form__textarea--amount {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.textarea {
    margin-bottom: 0;
    min-height: 168px;
}

/* 
.Form-content--error {
    display: flex;
    justify-content: center;
    position: relative;
}

.Form-content--error__element {
    padding: 1rem 2rem;
    position: absolute;
    top: 0;
    color: var(--text-color);
    font-size: 1rem;
    background-color: var(--background-body);
    border-radius: 5px;
} */

@media screen and (min-width: 768px) {
    input.btn {
        width: auto;
    }

    .Form-content {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
    }

    .Form-content--name {
        width: 50%;
        padding-right: 1rem;
    }

    .Form-content--email {
        width: 50%;
    }

    .Form-content--message {
        width: 100%;
    }
}